# Core Libraries
numpy
pandas
joblib
pathlib2

# PyTorch and TorchVision
torch
torchvision

# Computer Vision
opencv-python

# Machine Learning
scikit-learn

# Image Processing
Pillow

# Visualization
matplotlib
seaborn

# Web UI
streamlit