# Core Libraries
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
pathlib2==2.3.7.post1

# PyTorch and TorchVision
torch
torchvision

# Machine Learning
scikit-learn

# Image Processing
opencv-python
Pillow

# Visualization
matplotlib
seaborn

# Web UI
streamlit
