# Core Libraries
numpy
pandas
joblib
pathlib2

# PyTorch and TorchVision
torch
torchvision

# Machine Learning
scikit-learn

# Image Processing
opencv-python
Pillow

# Visualization
matplotlib
seaborn

# Web UI
streamlit 